.pContainer{
    margin-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holder{
    border-radius: 6px;
    background-color:rgba(241, 153, 83,1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th{
    height: 30px;
    width: 200px;
}