.parent{
    margin-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.holder{
    border-radius: 6px;
    background-color:#fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hInfo{
    display: flex;
    flex-direction: column;
}