.header{
    overflow: hidden;
    background-color: #34495E;
    cursor: default;
    box-shadow: 0 10px 3px 0px rgba(0, 0, 0, 0.2);
}

.header h2 {
    color: #ffffff;
    text-align: center;
}

.centerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navScrollDiv{
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2C3E50;
}

a{
    text-decoration: none;
}

.nItem{
    padding: 5px 20px;
    cursor: default;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.nItem div{
    cursor: default;
    color: #fff;
}

.nItem a{
    text-decoration: none;
}

.nItem:hover {
    background-color: #BDC3C7;
}

.header h3{
    color: #fff;
    text-align: center;
    background-color: #546E7A;
}

.SP1{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

