.parent{
    margin-top: 3%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    overflow:hidden;
    padding: 0px 50px;
}

.holder{
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h2{
    align-self: center;
}

.gotoInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gotoInfo input[type=button]{
    margin-left: 20px;
}

.holdPrevNext{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bHold1{
    padding: 0px 20px;
}

.hTable{
    display: flex;
    justify-content: center;
}